html,
body,
#main {
  height:100%;
  height:100vh;
  margin:0;
}

.aligner, 
.aligner-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 100%;
}

#profession {
	margin-bottom: 40px;
}

#main {
  background: #b6c9db; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-60deg, #fff 40%, #e6edf3, #b6c9db) no-repeat; /* For Safari 5.3 to 6.0 */
  background: -o-linear-gradient(-60deg, #fff 40%, #e6edf3, #b6c9db) no-repeat; /* For Opera 33.3 to 32.0 */
  background: -moz-linear-gradient(-60deg, #fff 40%, #e6edf3, #b6c9db) no-repeat; /* For Firefox 3.6 to 35 */
  background: linear-gradient(-60deg, #fff 40%) no-repeat; /* Standard syntax */
}

img {
  padding: 2px;
}